*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				overflow: auto;
				transition: transform 0.2s;
}

body{
		  	width: 100vw;
				height: 100vh;	
				background: #b80f0f;
}

.start-page{
				width: 100%;
				height: 100%;
				opacity:1;
				position: relative;
			/*	display:none;*/
}

.start-btn, 
.info_box,
.quiz_box,
.result_box{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
				z-index: 5;
				opacity: 1;
				pointer-events: auto;
				transform: translate(-50%,-50%) scale(1);
}

.inactiveStartBtn{
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%,-50%) scale(0.9);
}

.correct{
				background-color: green;
				color: white;
}

.incorrect{
				background-color: red;
				color: white;
}
/*
.hide_answer{
				display: none;
}
*/



/* start-btn styling */

.start-btn button{
				font-size: 25px;
				font-weight: 500;
				padding: 20px 30px;
				color: #b80f0f;
				background-color: white;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
				border: none;
				cursor: pointer;
}



/* info-box styling */
.info_box{
				width: 30%;
				height: 30%;
				background: white;
				border-radius: 10px;
				box-shadow: 0 5px 5px black;
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%,-50%) scale(0.9);
}



.info_box .info_title{
				font-size: 25px;
				font-weight: 600px;
				width: 100%;
				height: 20%;
				border-bottom: 2px solid lightgrey;
				display: flex;
				padding: 15px 35px ;
				align-items: center;
}

.info_box .info_list{
				font-size: 17px;
				font-weight: 450px;
				width: 100%;
				height: 60%;
				border-bottom: 1px solid lightgrey;
				display: flex;
				flex-direction: column;				
				padding: 0 20px;
				flex-wrap: wrap;
				align-items: center;				
}

.info_box .info_list .info{
				margin: 5px;
}

.info_box .info_list .info span{
				color: #b80f0f;
				font-weight: 600;
}

.info_box .buttons{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				padding: 0 10px;
				border-top: 1px solid lightgrey;
}

.buttons button{
				font-size: 20px;
				font-weight: 500;
				padding: 10px 10px;
				margin: 5px;
				color: white;
				background-color: #b80f0f;
				outline: none;
				border-radius: 5px;
				box-shadow: 0 2px 2px black;
				border: none;
				cursor: pointer;
				border: 1px solid #b80f0f;
				
}

.buttons button.quit{
				background: white;
				color: #b80f0f;				
				transition: transform 0.2s;
}

.buttons button.quit:hover{
				background: #b80f0f;
				color: white;
				transform: scale(1.02);
}

.buttons button.quit:active{
				background: #b80f0f;
				color: white;
				transform: scale(0.95);
}

.buttons button.restart:hover{
				background: white;
				color: #b80f0f;
				transform: scale(1.02);
}

.buttons button.restart:active{
				background: white;
				color: #b80f0f;
				transform: scale(0.95);
}

/* Quiz box */
.quiz_box{
				
				width: 70%;
				height: 70%;
				background: white;
				border-radius: 10px;
				box-shadow: 0 5px 5px black;
				color: black;
				
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%,-50%) scale(0.9);							
}

.quiz_box header{
				
				width: 100%;
				height: 15%;
				border-bottom: 2px solid lightgrey;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 0 35px ;
				align-items: center;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
}

.quiz_box header .title{
				font-size: 20px;
				font-weight: 600;
}

.quiz_box header .timer{
				width: 30%;
				height:50%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 20px;
				font-weight: 500;
				border: 1px solid black;
				background: #ff809f;				
				padding: 10px 10px;
				margin: 5px;
				border-radius: 5px;
}

.quiz_box header .timer .timer_text{
				font-size: 17px;
				font-weight: 500;
				user-select: none;
}

.quiz_box header .timer .timer_sec{
				font-size: 18px;
				font-weight: 500;
				user-select: none;
				width: 50%;
				height:50%;
				border: 1px solid black;
				color: white;
				background: black;
				text-align: center;
				border-radius: 5px;
				line-height: 30px;
}

.quiz_box section {
				width: 100%;
				height: 70%;
				padding: 35px 20px;
				border-bottom: 1px solid lightgrey;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items:flex-start;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
}

.quiz_box section .quiz_qs{
				font-size: 32px;
				font-weight: 600;
}

.quiz_box section .option_list{
				width: 80%;
				height: 75%;
				border: 1px solid black;
				margin: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;				
				align-items: flex-start;
				overflow: scroll;
				background: cornsilk;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
}

.quiz_box section .option_list .option{
				width: 95%;
				height:calc(25%-20px);
				border: 1px solid black;
				border-radius: 5px;
			 margin: 10px 10px;				
				padding: 10px;
				font-size: 20px;
				font-weight: 400;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				transition: transform 0.2s;
}

.disable{
				pointer-events: none;
}

section .option_list .option:hover{
				background: brown;
				color: white;
				transform: scale(1.03);
}

section .option_list .option:active{
				background: brown;
				color: white;
				transform: scale(0.95);
}

.quiz_box footer .total_qs{
				: calc(100%-20px);
				height: 15%;
				border: 1px solid black;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px;
				margin: 20px;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
}

.quiz_box footer .total_qs span{
				display: flex;
				user-select: none;
}

.quiz_box footer .total_qs span p{
				padding: 0 5px;
				font-weight: 500;
}

.quiz_box footer .total_qs button{
				width: ;
				height: ;
				font-size: 16px;
				font-weight: 500;
				padding: 20px 30px;
				color: white;
				background-color: #b80f0f;
				outline: none;
				border-radius: 10px;
				box-shadow: 0 2px 5px black;
				border: none;
				cursor: pointer;
				
}

.quiz_box footer .total_qs button:hover{
				transform: scale(1.03);
				background: white;
				color: brown;
				border: 2px solid black;
}

/* Result Box */

.result_box {
				width: 100%;
				height: 100%;
				width: 30%;
				height: 30%;
				background: white;
				border-radius: 10px;
				box-shadow: 0 5px 5px black;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				font-size: 20px;
				padding: 10px;
				font-weight:500;
				color: brown;
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%,-50%) scale(0.9);				
}

.result_box .complete_text, .score, .total{
				font-weight: 600;
				color: red;
}
