.frame{
				position: absolute;
			 top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				background-color: white;
				height: 400px;
				width: 400px;
				color: #333;
				overflow: hidden;
				box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
				border-radius: 3px;
}

div{
				margin:0;
				padding:0;
				box-sizing: border-box;
}

.container{
				height: 100%;
				width: 100%;
}

.center{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width:100%;
				height: 100%;
}


.container{
				display: grid;
				grid-template-columns: repeat(20, 1fr);
	    grid-template-rows: repeat(20, 1fr);
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				
}

.box{
				display: inline-block;
				width:100%;
				height:100%;
				cursor: pointer;
				background-color: #ff5540;
				border: 0.5px solid #E24E3F;
}

.active{
				background-color: white;
				border-color: white;
}

.box:hover{
				background-color: #E24E3F;
				border: 2px solid #E24E3F;
}


