body {
    color: #2b6dff;
}

h1,
h2 {
    color: blue;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.resume {
    border: 3px solid #2b6dff;
}

.resume_content {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 4rem;
}

.column {
    padding-left: 2rem;
}

.column2 {
    border-left: 3px solid #2b6dff;
    padding-left: 2rem;
    margin-right: 2rem;
}

div+div {
    margin-bottom: 2rem;
}

.event>h4+.subtitle {
    margin-top: -1rem;
}

.event>.subtitle+li {
    margin-top: -1rem;
}

.head+.contents {
    margin-top: -1rem;
}