* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 20px;
}

.form button{
  width: 360px;
  padding: 6px 0;
  background-color: blue;
  color:aliceblue;
  border: none;
  border-radius: 3px;
}

.input{
  display : flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  max-width: 400px;
}
.input input{
  margin: 10px;
  padding: 3px;
}
.card{
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  min-height: 120px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}

#edit{
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: blue;
  color: white;
 
}

#del{
  background-color: darkred;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: white;
}
