h1,
p {
  font-family: Lato;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
